/* ----- Gothic A1 Google Fonts Import Here -----*/

@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;500;600;700;800&display=swap');

/* ----- Butler Fonts Import Here ----- */

@font-face {
    font-family: "Butler Regular";
    font-style: normal;
    font-weight: normal;
    src: local("Butler Regular"), url("../fonts/Butler_Regular.woff") format("woff");
}

@font-face {
    font-family: "Butler UltraLight";
    font-style: normal;
    font-weight: normal;
    src: local("Butler UltraLight"), url("../fonts/Butler_Ultra_Light.woff") format("woff");
}

@font-face {
    font-family: "Butler Light";
    font-style: normal;
    font-weight: normal;
    src: local("Butler Light"), url("../fonts/Butler_Light.woff") format("woff");
}

@font-face {
    font-family: "Butler Medium";
    font-style: normal;
    font-weight: normal;
    src: local("Butler Medium"), url("../fonts/Butler_Medium.woff") format("woff");
}

@font-face {
    font-family: "Butler Bold";
    font-style: normal;
    font-weight: normal;
    src: local("Butler Bold"), url("../fonts/Butler_Bold.woff") format("woff");
}

@font-face {
    font-family: "Butler ExtraBold";
    font-style: normal;
    font-weight: normal;
    src: local("Butler ExtraBold"), url("../fonts/Butler_ExtraBold.woff") format("woff");
}

@font-face {
    font-family: "Butler Black";
    font-style: normal;
    font-weight: normal;
    src: local("Butler Black"), url("../fonts/Butler_Black.woff") format("woff");
}


/* ----- Theme Colors Variables Updated Here ----- */

$theme-color: #D09949;
$primay-color: #222;
$theme-font: 'Gothic A1',
    sans-serif;
$primary-font: 'Butler Bold';

/* ----- General CSS Updated Here ----- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: $primay-color;
    font-size: 16px;
    font-weight: 400;
    font-family: $theme-font;
    line-height: 1.5;
}

.butler-font {
    font-family: $primary-font;
}

.main-outer {
    max-width: 1440px;
    margin: 0 auto;
    overflow-x: hidden;
}

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.common-col {
    position: relative;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.list-unstyled {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    width: auto;
    height: auto;
    max-width: 100%;
}

.dlfex-align {
    display: flex;
    align-items: center;
}

.theme-common-button {
    display: inline-flex;
    align-items: center;
    position: relative;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 25px;
    justify-content: center;
    min-width: 190px;
    overflow: hidden;
    background: $theme-color;
    transition: .3s;
    z-index: 1;

    &::before {
        position: absolute;
        content: "";
        height: 100%;
        width: 0;
        top: 0;
        left: auto;
        right: 0;
        background: $primay-color;
        transition: .3s cubic-bezier(.785, .135, .15, .86);
        z-index: -1;
    }

    &:hover::before {
        width: 100%;
        left: 0;
        right: auto;
    }

    &.theme-primary-button {
        color: $primay-color;
        background-color: #fff;

        &::before {
            background-color: $theme-color;
        }

        &:hover {
            color: #fff;
        }
    }
}

.section-title {
    text-align: center;

    h2 {
        font-size: 28px;
        font-weight: 700;
        line-height: 38px;
        margin: 0;
    }
}

.overflow-hidden {
    overflow: hidden;
}

@mixin dropdown {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 5px 28px;
    background-color: #fff;
}

@mixin productdesc {
    padding-top: 15px;

    h5 {
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        margin: 0;
    }

    h6 {
        font-size: 13px;
        font-weight: 400;
        margin: 8px 0;

        &.product-price {
            color: #A86A12;
            margin: 0;
        }
    }
}

@mixin cmnheading {
    h2 {
        font-size: 46px;
        line-height: 56px;
        font-weight: 700;
    }

    p {
        font-weight: 600;
        text-transform: uppercase;
    }
}

/* Site Header CSS Updated Here */

.site-header {
    .row {
        margin: 0;
    }

    .annoucement-bar {
        padding: 10px 0;
        background-color: $primay-color;

        .annoucement-bar-desc {
            br {
                display: none;
            }
        }

        .dropdown {
            .dropdown__options-filter {
                width: 100%;
                cursor: pointer;

                .dropdown__filter {
                    position: relative;
                    @include dropdown;
                    padding-left: 40px;
                    padding-right: 20px;
                    border: 1px solid #ddd;
                    transition: 0.3s;

                    &::before {
                        position: absolute;
                        content: '';
                        top: 50%;
                        left: 5px;
                        width: 25px;
                        height: 15px;
                        background: url("../img/amc-flag.svg") center / cover no-repeat;
                        transform: translateY(-50%);
                    }

                    &::after {
                        position: absolute;
                        top: 38%;
                        right: 7px;
                        content: "";
                        width: 5px;
                        height: 5px;
                        border-right: 1.5px solid $primay-color;
                        border-bottom: 1.5px solid $primay-color;
                        transform: rotate(45deg) translateX(-45%);
                        transition: 0.2s ease-in-out;
                    }
                }

                .dropdown__filter-selected {
                    display: flex;
                    align-items: center;

                    img {
                        margin-right: 10px;
                    }
                }

                .dropdown__select {
                    position: absolute;
                    top: 100%;
                    left: -1px;
                    width: 100%;
                    overflow: hidden;
                    border: 1px solid #d6d6d6;
                    box-shadow: 0 5px 10px 0 rgba(152, 152, 152, 0.6);
                    transform: scaleY(0);
                    transform-origin: top;
                    transition: 0.2s ease-in-out;

                    .dropdown__select-option {
                        @include dropdown;
                        border-bottom: 1px solid #d6d6d6;
                        transition: 0.3s;

                        &:last-of-type {
                            border-bottom: 0;
                        }

                        &:hover {
                            background-color: #f9f9f9;
                        }
                    }
                }
            }

            .dropdown__switch:checked+.dropdown__options-filter .dropdown__select {
                transform: scaleY(1);
            }

            .dropdown__switch:checked+.dropdown__options-filter .dropdown__filter:after {
                transform: rotate(-135deg);
            }
        }

        .annoucement-bar-desc,
        .annoucement-bar-links a,
        .annoucement-bar-links span {
            color: #fff;
            font-size: 12px;
            font-weight: 700;
            margin: 0;
        }

        .annoucement-bar-links {
            display: flex;
            align-items: center;

            a {
                transition: all .3s ease;

                &:hover {
                    color: $theme-color;
                }
            }

            span {
                display: inline-block;
                margin: 0 5px;
            }
        }
    }

    .row-align-flex {
        align-items: center;
        justify-content: space-between;
    }

    nav {
        padding: 10px 0;

        .navigation-list {
            li {
                display: inline-block;
                padding: 15px 30px 15px 0;

                .navigation-link {
                    color: $primay-color;
                    font-size: 14px;
                    font-weight: 600;
                    text-decoration: none;
                    transition: all .3s ease;
                    -webkit-transition: all .3s ease;
                    -moz-transition: all .3s ease;
                    -ms-transition: all .3s ease;
                    -o-transition: all .3s ease;

                    &:hover {
                        color: $theme-color;
                    }

                    &.sale-marked {
                        color: #FF0000;
                    }
                }

                &:last-child {
                    padding-right: 0;
                }
            }
        }

        .navbar-brand {
            padding: 0 15px;
            flex: 1;
            justify-content: center;

            @media screen and (min-width: 992px) and (max-width: 1199px) {
                margin-left: -8rem;
            }
        }

        .nav-action-btns {
            button {
                border: 0;
                background-color: transparent;
                outline: none;
                margin-right: 30px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}


/* Hero Banner Section CSS Updated Here */

.hero-banner-section {
    .hero-carousel-item {
        min-height: 650px;
        background: url("../img/banner-img.png") right / contain no-repeat #F4F3EE;

        .hero-item-desc {
            padding: 135px 15px;
            text-align: center;
            background: #F4F3EE;

            h1 {
                font-size: 46px;
                font-weight: 700;
                margin: 0;
            }

            h6 {
                font-size: 16px;
                font-weight: 600;
                text-transform: uppercase;
                margin: 15px 0 30px;
            }
        }

        @media screen and (min-width: 768px) and (max-width: 1600px) {
            min-height: calc(100vh - 123px);
        }

        @media screen and (min-width: 992px) {
            .hero-item-desc {
                max-width: 470px;
            }
        }

        @media screen and (min-width: 1400px) {
            .hero-item-desc {
                padding-top: 220px;
                padding-bottom: 220px;
            }
        }

        @media screen and (min-width: 1200px) {
            background-size: calc(100% - 470px);
            background-position: top right;
        }

        @media screen and (max-width: 991px) {
            min-height: 370px;
            max-height: 370px;
            background-position: center;
            background-size: cover;

            .hero-item-desc {
                position: relative;
                height: 100%;
                padding: 55px 15px 80px;
                background-color: transparent;

                h1 {
                    line-height: 1.3;
                }
            }

            &::before {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                right: 0;
                height: 100%;
                background-color: RGBA(244, 243, 238, 0.26);
            }
        }

        @media screen and (min-width: 992px) and (max-width: 1199px) {
            min-height: auto;
        }
    }

    .slick-prev,
    .slick-next {
        position: absolute;
        top: inherit;
        bottom: 15px;
        right: 70px;
        width: 35px;
        height: 40px;
        left: inherit;
        background-color: #fff !important;
        z-index: 1;

        &:not(.slick-prev) {
            bottom: 35px;
            right: 35px;
            transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
        }

        &::before {
            position: absolute;
            content: '';
            top: 50%;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 13px;
            height: 23px;
            opacity: 1;
            transform: translateY(-50%);
            background: url("../img/slick-btn.svg") center / cover no-repeat;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
        }
    }
}


/* Arrivals Section CSS Updated Here */

.arrivals-section {
    padding: 60px 0;

    .arrival-product-card {
        padding-top: 30px;

        .product-card-img {
            padding: 15px;
            text-align: center;
            background-color: #fbfaf9;

            img {
                mix-blend-mode: darken;
                max-width: 85%;
            }
        }

        .product-card-desc {
            @include productdesc;
        }
    }
}


/* Outwear Collection Section CSS Updated Here */

.outwear-collection-section {
    padding-bottom: 60px;

    .full-height-block {
        padding: 25rem 0 3rem;
        background: url("../img/men-outerwear.png") top / cover no-repeat;
        @include cmnheading;

        h2,
        p {
            color: #fff;
        }

        p {
            margin: 12px 0 18px;
        }
    }

    .full-height-scroll-block {
        max-height: 608px;
        background-color: #EEF2F4;
        overflow-x: hidden;
        overflow-y: auto;

        .product-block-figure {
            position: relative;
            padding-top: 380px;
            width: 310px;
            margin: 0 auto;
            background-color: #fff;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: contain;
                object-position: center;
            }
        }

        .product-block {
            text-align: center;
            padding: 25px 15px;

            .product-block-desc {
                @include productdesc;
            }
        }
    }
}


/* Product Promo Full Section CSS Updated Here */

.product-promi-full-section {
    padding: 15rem 0;
    background: url("../img/product-bg.png") center / cover fixed no-repeat;

    .section-title {
        color: #fff;
        @include cmnheading;

        h2 {
            margin: 12px 0 20px;
        }
    }

    @media screen and (min-width: 992px) and (max-width: 1199px) {
        padding: 10rem 0;
    }
}


/* Services Features Section CSS Updated Here */

.service-features-section {
    padding: 60px 0;
    text-align: center;

    .serv-feature-block {
        img {
            height: 70px;
            width: 70px;
        }

        h6 {
            font-size: 14px;
            font-weight: 600;
            margin-top: 15px;
        }
    }
}


/* Instagram Feeds Section CSS Updated Here */

.instagram-feeds-section {
    padding-bottom: 60px;

    .section-title {
        @include cmnheading;

        h2 {
            margin-bottom: 15px;
        }
    }

    .instagram-feed-figure {
        padding-top: 30px;
    }
}


/* Site Footer CSS Updated Here */

.site-footer {
    padding-top: 50px;
    background-color: #F5F4F3;

    .footer-widget {
        h5 {
            font-size: 14px;
            font-weight: 500;
            text-transform: uppercase;
            margin-bottom: 15px;
        }

        ul {
            li {
                a {
                    display: inline-block;
                    text-decoration: none;
                    transition: all .3s ease;
                    -webkit-transition: all .3s ease;
                    -moz-transition: all .3s ease;
                    -ms-transition: all .3s ease;
                    -o-transition: all .3s ease;

                    &:hover {
                        color: #A86A12;
                    }
                }

                &.pb-3 {
                    padding-bottom: 1rem;
                }
            }
        }

        li,
        a,
        p {
            color: #514E4E;
            font-size: 13px;
            font-weight: 500;

            &:not(li) {
                padding: 7px 0;
            }
        }

        p {
            a {
                padding: 3px 0;
            }
        }

        .newsletter-form {
            input {
                color: #514E4E;
                font-size: 13px;
                margin: 8px 0 15px;
                background-color: #fff;
                border: none;
                border-bottom: 1px solid $primay-color;
            }

            button {
                color: #fff;
                font-size: 14px;
                text-transform: uppercase;
                cursor: pointer;
                background-color: $primay-color;
                border: 1px solid $primay-color;
                transition: all .3s ease;
                -webkit-transition: all .3s ease;
                -moz-transition: all .3s ease;
                -ms-transition: all .3s ease;
                -o-transition: all .3s ease;

                &:hover {
                    background-color: $theme-color;
                    border-color: $theme-color;
                }
            }

            input,
            button {
                display: block;
                font-weight: 500;
                padding: 15px;
                height: 45px;
                width: 100%;
                max-width: 350px;
                outline: none;
            }
        }
    }

    .common-col-9 {
        .common-col-3:first-child {
            .footer-widget {
                padding-left: 45px;
            }
        }
    }

    .footer-copyright-desc {
        margin-top: 30px;
        padding: 20px 0;
        border-top: 1px solid #827C78;

        p {
            color: #514E4E;
            font-size: 13px;
            font-weight: 500;
            text-align: center;
            margin: 0;

            a {
                color: #514E4E;
                text-decoration: none;
                transition: all .3s ease;
                -webkit-transition: all .3s ease;
                -moz-transition: all .3s ease;
                -ms-transition: all .3s ease;
                -o-transition: all .3s ease;

                &:hover {
                    color: $theme-color;
                }
            }

            span {
                display: inline-block;
                margin: 0 3px;
            }
        }
    }
}


/*------- Responsive View CSS Updated Here -------*/

@media screen and (min-width: 576px) {
    .container {
        max-width: 540px;
    }

    .common-col-3 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    .common-col-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .hidden-md {
        display: none !important;
    }
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 960px;
    }

    .common-col-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .common-col-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1220px;
    }

    .site-header nav .navbar-brand {
        margin-left: -13rem;
    }
}

@media screen and (max-width: 991px) {
    .site-header {
        nav {
            padding: 15px 0;

            .navbar-brand {
                padding: 0;
                justify-content: flex-start;
            }

            .navigation-list {
                position: fixed;
                top: 95px;
                left: 0;
                height: 100%;
                width: 100%;
                flex-direction: column;
                align-items: flex-start;
                background-color: #fff;
                visibility: hidden;
                overflow: auto;
                transform: translateX(-100%);
                transition: transform .3s ease-in-out;
                z-index: 1049;

                li {
                    display: block;
                    width: 100%;
                    padding: 0 !important;

                    a {
                        display: block;
                        font-size: 16px;
                        text-transform: uppercase;
                        padding: 18px 30px 18px 15px;
                        border-bottom: 1px solid #514E4E;
                        width: 100%;
                    }

                    &:last-child {
                        a {
                            border: none;
                        }
                    }
                }

                &.active {
                    visibility: visible;
                    transform: none;
                    -webkit-transform: none;
                    -moz-transform: none;
                    -ms-transform: none;
                    -o-transform: none;
                }
            }

            .nav-action-btns {
                button {
                    margin-right: 20px;
                }
            }
        }

        .menu-toggler-btn {
            height: 25px;
            width: 40px;
            position: relative;
            margin: 0 auto;
            cursor: pointer;
            border: 0;
            background-color: #fff;
            transition: 0.3s;
            -moz-transition: 0.3s;
            -o-transition: 0.3s;
            -webkit-transition: 0.3s;

            .bar {
                display: block;
                position: absolute;
                height: 3px;
                width: 35px;
                margin: auto;
                border-radius: 10px;
                -moz-border-radius: 10px;
                -webkit-border-radius: 10px;
                background: $primay-color;
                transition: 0.3s;
                -moz-transition: 0.3s;
                -o-transition: 0.3s;
                -webkit-transition: 0.3s;

                &:nth-of-type(1) {
                    top: 0;
                }

                &:nth-of-type(2) {
                    margin: 6px auto;
                    top: 4px;
                    right: 5px;
                    width: 30px;
                    transition: ease 0.3s;
                    -moz-transition: ease 0.3s;
                    -o-transition: ease 0.3s;
                    -webkit-transition: ease 0.3s;
                    transition-delay: 0.3s;
                    -webkit-transition-delay: 0.3s;
                }

                &:nth-of-type(3) {
                    top: 20px;
                }

                &:nth-of-type(1),
                &:nth-of-type(3) {
                    transition: top 0.3s ease 0.3s, transform 0.3s ease-out 0.1s;
                    -moz-transition: top 0.3s ease 0.3s, -moz-transform 0.3s ease-out 0.1s;
                    -o-transition: top 0.3s ease 0.3s, -o-transform 0.3s ease-out 0.1s;
                    -webkit-transition: top 0.3s ease, -webkit-transform 0.3s ease-out;
                    transition-delay: 0.3s, 0.1s;
                    -webkit-transition-delay: 0.3s, 0.1s;
                }
            }

            &.active {
                .bar {
                    &:nth-of-type(1) {
                        transform: rotate(45deg);
                        -moz-transform: rotate(45deg);
                        -ms-transform: rotate(45deg);
                        -webkit-transform: rotate(45deg);
                    }

                    &:nth-of-type(2) {
                        opacity: 0;
                    }

                    &:nth-of-type(3) {
                        transform: rotate(-45deg);
                        -moz-transform: rotate(-45deg);
                        -ms-transform: rotate(-45deg);
                        -webkit-transform: rotate(-45deg);
                    }

                    &:nth-of-type(1),
                    &:nth-of-type(3) {
                        top: 10px;
                        transition: top 0.3s ease 0.1s, transform 0.3s ease-out 0.3s;
                        -moz-transition: top 0.3s ease 0.1s, -moz-transform 0.3s ease-out 0.3s;
                        -o-transition: top 0.3s ease 0.1s, -o-transform 0.3s ease-out 0.3s;
                        -webkit-transition: top 0.3s ease, -webkit-transform 0.3s ease-out;
                        transition-delay: 0.1s, 0.3s;
                        -webkit-transition-delay: 0.1s, 0.3s;
                    }
                }
            }
        }
    }

    .annoucement-bar {
        .row {
            text-align: center;
            justify-content: center;
        }
    }

    .hidden-sm {
        display: none !important;
    }

    .hero-banner-section .slick-prev {
        left: 40%;
        bottom: -20px;
    }

    .hero-banner-section .slick-next {
        right: inherit !important;
        left: 50%;
        bottom: 0 !important;
    }

    .outwear-collection-section .full-height-block {
        padding: 5rem 30px;
        position: relative;
        margin-bottom: 30px;

        h2,
        p {
            position: relative;
        }

        &::before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            right: 0;
            height: 100%;
            background-color: rgba(55, 54, 53, 0.41);
        }
    }

    .outwear-collection-section {
        .full-height-scroll-block {
            max-height: 520px;

            .product-block-figure {
                width: 290px;
                padding-top: 350px;
            }
        }
    }

    .product-promi-full-section {
        padding: 5rem 0;

        h2 {
            font-size: 38px !important;
            line-height: 1.3 !important;
        }
    }

    .service-features-section {
        padding: 45px 0;

        .common-col-3 {
            width: 50%;
        }

        .serv-feature-block {
            padding: 15px 0;
        }
    }

    .instagram-feeds-section .section-title h2 {
        font-size: 38px;
        line-height: 1.3;
    }

    .site-footer {
        .common-col-9 {
            .common-col-3 {
                width: 50%;

                .footer-widget {
                    padding-top: 25px;
                }

                &:first-child .footer-widget {
                    padding-left: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 390px) {
    .for-xs-only {
        display: block !important;
    }

    .site-header nav .navigation-list {
        top: 113px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .outwear-collection-section .full-height-block {
        padding: 9rem 30px;
    }

    .outwear-collection-section .full-height-scroll-block {
        max-height: 530px;
    }

    .service-features-section .common-col-3 {
        width: 25%;
        max-width: 25%;
        flex: 0 0 25%;
    }
}